# Core functionality - changes here should be rare!
/src/app.py                   @Tuberculosis69
/src/backend/database.py      @Tuberculosis69
/src/backend/routers/auth.py  @Tuberculosis69

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Tuberculosis69
